.color {
    color: white;
}

.ava {
    height: 250px;
    width: 250px;
}

.navLink a:link{
    font-size: medium;
    text-decoration: none;
}



.navLink a:hover{
    color: white;
    text-decoration: none;
}

.navLink a:visited{
    color: white;
    text-decoration: none;
}